body {
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    background: rgba( 40, 40, 40, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 60px );
    -webkit-backdrop-filter: blur( 4px );
    overflow: auto;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;

    > main {
        overflow: overlay;
    }

    @media (min-width: $md) {
        > main {
            height: calc(100vh - 6em);
            top: 6em;
            position: relative;
            width: 100vw;
        }
    }
}


#background {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;


    .background-gradient {
        z-index: -1000;
        background-color: #000000;
        width: 250vw;
        height: 250vh;
        position: relative;

        > div.circle {
            z-index: -999;
            width: 125vw;
            height: 125vw;
            border-radius: 50%;
            //background: linear-gradient(135deg, rgba(135,147,255,1) 0%, rgba(184,232,231,1) 100%);
            position: absolute;
            z-index: -999;
            
            &:nth-child(1) {
                top: calc(-45vw);
                left: calc(-65vw);

                background: radial-gradient(circle, $primary 0%, transparent 60%);
            }
            
            &:nth-child(2) {
                top: 60vh;
                left: calc(45vw);

                background: radial-gradient(circle, $secondary 0%, transparent 50%);
            }
            /*
            &:nth-child(3) {
                top: 30vh;
                left: 200px;
                background: radial-gradient(circle, rgba(234,178,242,1) 0%, transparent 100%);
            }*/
        }
    }
}

#web {
    position: relative;
}