input {
    &.form-control {
        background-color: $bg-primary;
        border-radius: 10px;
        border: $card-glass-border;

        &:focus {
            background-color: $bg-primary;
            color: white;
        }
    }
}

.custom-select {
    border-radius: 10px;
}